.header_div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgb(37, 37, 37);
    padding: 20px;
    margin-bottom: 70px;
}

.header_p,
a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.exit_p {
    color: red;
    cursor: pointer;
}